{
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true,
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["eslint-config-leapfrog/react"],
  "plugins": ["react"],
  "rules": {
    "eqeqeq": "off",
    "quotes": "off",
    "require-jsdoc": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "curly": "off",
    "padding-line-between-statements": "off",
    "newline-before-return": "off"
  },
  "settings": {
    "react": {
      "pragma": "React", // Pragma to use, default to "React"
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  }
}
